body {
  background-color: skyblue;
}

.top-header {
  padding: 20px;
  width: 100%;
  background-color: gold;
  text-align: center;
}

h1 {
  color: grey;
  text-align: center;
}

.sidebar {
  text-align: center;
  width: 300px;
  float: left;
  background-color: yellow;
  font-size: 20px;
  padding-bottom: 100%;
}

.sidebar-list{
  margin-top: 20px;
  margin-bottom: 20px;
}

.intro {
  position: relative;
  float: right;
  padding: 10px;
  text-align: center;
}

.intro p {
  font-style: italic;
  font-size: 20px;
}

.bottom-container {
  position: relative;
  padding: 5px;
  text-align: center;
  display: grid;
}

.bottom-container p {
  font-style: italic;
  font-size: 20px;
}

.panel-info{
  color: black;

}

.project-link {
  font-size: 30px;
}

img.backpack {
  max-width: 290px;
}

img.logo {
  max-width: 150px;
  float: left;
  margin-bottom: 50px;
}

img.teton1{
  float: right;
}

img.beanie {
  float: left;
  display: block;
  max-width: 350px;
  padding: 15px;
  margin: auto;
}

h2 {
  color: grey;
  text-align: center;
  background-color: gold;
  font-size: 40px;
}

@media screen and (min-width: 768px) {
  .intro {
    width: 500px;
    float: right;
    padding: 50px;
  }
}
