body {
  background-color: skyblue;
}

.top-header {
  padding: 20px;
  width: 100%;
  background-color: gold;
  text-align: center;
}

h1 {
  color: grey;
  text-align: center;
}

.sidebar {
  text-align: center;
  width: 300px;
  float: left;
  background-color: yellow;
  font-size: 20px;
  padding-bottom: 100%;
}

.sidebar-list{
  margin-top: 20px;
  margin-bottom: 20px;
}

.intro {
  position: relative;
  float: right;
  padding: 10px;
  text-align: center;
}

.intro p {
  font-style: italic;
  font-size: 20px;
}

.bottom-container {
  text-align: center;
  margin: 300px;
  position: relative;

}

img.backpack {
  max-width: 290px;
}

img.logo {
  max-width: 150px;
  float: left;
  margin-bottom: 50px;
}

img.teton1{
  float: right;
}

img.beanie {
  float: left;
  display: block;
  max-width: 300px;
  margin: auto;
}

h2 {
  color: grey;
  text-align: center;
  background-color: gold;
}

@media screen and (min-width: 768px) {
  .intro {
    width: 500px;
    float: right;
    padding: 20px;
  }
}
