body {
  background-color: skyblue;
}

.top-header {
  padding: 20px;
  width: 100%;
  background-color: gold;
}

h1 {
  color: grey;
  text-align: center;
}

.sidebar {
  display: grid;
  text-align: center;
  width: 300px;
  float: left;
  background-color: yellow;
  font-size: 20px;
  padding-bottom: 100%;
}

.intro {
  text-align: center;
  font-size: 20px;
}

img.backpack {
  max-width: 290px;
}

img.logo {
  max-width: 150px;
  float: left;
  margin-bottom: 50px;
}

img.teton1{
  float: right;
}

img.headshot {
  float: left;
  display: block;
  max-width: 300px;
  margin: auto;
}

h2 {
  color: grey;
  text-align: center;
  background-color: gold;
}

h5 {
  border: 0px;
}
